[Unit]
Description=OctoAspirin Daemon
After=syslog.target octoprint.service

[Service]
Type=forking
PIDFILE=/home/pi/OctoAspirin/octoaspirin.pid

ExecStartPre=/bin/rm -f $PIDFILE
ExecStart=/home/pi/OctoAspirin/octoaspirin --daemon --pidfile $PIDFILE
Restart=on-abort

[Install]
WantedBy=multi-user.target
